@font-face {
	font-family: 'verdana';
	src: url('../fonts/Verdana.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

*{
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	background-color: #ffffff;
	margin: 0px;
	height: 100%;
	color: #555;
	font-family: 'verdana';
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
h2 {
	color: #454545;
	font-size: 13px;
	font-weight: normal;

	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}
a {
	color: #2194CE;
	text-decoration: none;
	margin-left: 25px;
}
#panel {
	position: fixed;
	left: 0px;
	width: 150px;
	height: 100%;
	overflow: auto;
	background: #fafafa;
}
#panel ul {
	list-style-type: none;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}
iframe {
	position: absolute;
	border: 0px;
	left: 150px;
	width: calc(100% - 150px);
	height: 100%;
	overflow: auto;
}